*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    max-height: 100px;
    width: 100vw;

    padding-right: 100px;
  
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 49%, rgba(252,176,69,1) 100%);
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    height: 100%;
    width: 50%;

    font-size: 24px;

    color: #FFFFFF;
}
ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;

    width: 50%;
    height: 100%;
}
li{
    list-style: none;

    font-size: 22px;

    color: #FFFFFF;

    cursor: pointer;
}